/* This file controls the appearance (design) of the page */

body {
    font-family: Arial, sans-serif;
    /* Changes text font */

    background-color: #f4f4f4;
    /* Changes background color */

    text-align: center;
    /* Centers text horizontally */

    margin-top: 50px;
    /* Adds space above the content */
}

h1 {
    color: darkblue;
    /* Changes heading color */
}

button {
    padding: 10px 20px;
    /* Adds space inside button */

    font-size: 16px;
    /* Makes button text bigger */

    cursor: pointer;
    /* Changes mouse icon when hovering */
}